h1{
    text-decoration: wavy;
    font-family: cursive;
    color:blue
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:crimson

}
h3{
    font-size: medium;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:cadetblue
}